<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.cncom.app.kit">

    <permission android:name="${applicationId}.permission.ACCESS_POLICY"
        android:protectionLevel="signature"/>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="${applicationId}.permission.ACCESS_POLICY" />


    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.cncom.app.kit.update.UpdateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTop" />
        <activity
            android:name="com.cncom.app.kit.update.AppAboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/menu_about" />

        <activity
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Base.Dialog"
            android:name="com.cncom.app.kit.update.UpdateAppDBActivity" >
            <!-- 通过这个，我们可以跳转到我们自定义的更新界面-->
            <intent-filter>
                <action android:name="${applicationId}.ACTION_VIEW_UPDATE_DB_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.cncom.app.kit.ui.activity.FragmentHostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>

        <activity
            android:name="com.cncom.app.kit.ui.activity.QADKScanCodeActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>


        <activity
            android:name="com.cncom.app.kit.ui.activity.SupportUrlSingleTouchImageViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.ViewImage"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.cncom.app.kit.ui.activity.SupportAnimatorUrlSingleTouchImageViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.ViewShareImage"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.cncom.app.kit.update.DownloadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_download_page"
            android:exported="false">
        </activity>


        <!-- 微信支付及分享-->
        <!--<activity-->
            <!--android:name="com.cncom.app.kit.wxapi.WXPayEntryActivity"-->
            <!--android:exported="true"-->
            <!--android:launchMode="singleTop"-->
            <!--android:configChanges="orientation|keyboardHidden|screenSize">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.cncom.app.kit.ACTION_PAY_METHOD" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<data-->
                    <!--android:host="${applicationId}"-->
                    <!--android:pathPrefix="/wxpay"-->
                    <!--android:scheme="pay" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity-->
            <!--android:name="com.cncom.app.kit.wxapi.WXEntryActivity"-->
            <!--android:exported="true"-->
            <!--android:launchMode="singleTop"-->
            <!--android:configChanges="orientation|keyboardHidden|screenSize">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.cncom.app.kit.ACTION_" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<data-->
                    <!--android:host="${applicationId}"-->
                    <!--android:pathPrefix="/wx"-->
                    <!--android:scheme="pay" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!-- provider begin-->
        <provider
            android:name="com.cncom.app.kit.database.BjnoteProvider"
            android:authorities="${applicationId}.provider.BjnoteProvider"
            android:exported="false" />
        <provider
            android:name="com.cncom.app.kit.database.DeviceProvider"
            android:authorities="${applicationId}.provider.DeviceProvider"
            android:permission="${applicationId}.permission.ACCESS_POLICY"
            android:exported="false" />
        <!-- provider end-->


        <!-- service begin-->
        <service android:name="com.cncom.app.kit.update.UpdateService" />
        <!-- service begin-->

        <!-- 友盟 begin-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_AppKey"
            tools:replace="android:value">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="@string/umeng_Message_Secret"
            tools:replace="android:value">
        </meta-data>

        <!--  友盟 end -->

        <!--&lt;!&ndash; 百度定位 begin&ndash;&gt;-->
        <!--<service-->
        <!--android:name="com.baidu.location.f"-->
        <!--android:enabled="true"-->
        <!--android:process=":remote" />-->

        <!-- meta-data需要写在application中
        debug F6:0C:B8:CE:43:BF:DB:F0:41:25:2E:6A:7F:96:2C:10:C4:F4:97:54;com.bestjoy.app.bjwarrantycard MZ3FD7VNPo9x59qVgzZIajQu-->
        <!-- release版本使用 0E:34:EF:F7:75:97:AB:56:EB:FE:36:1B:95:4F:04:71:42:C4:2E:14;com.bestjoy.app.bjwarrantycard    4NE32wi1r3eKVuVeV3UcgAP3-->
        <!--<meta-data-->
            <!--android:name="com.baidu.lbsapi.API_KEY"-->
            <!--android:value="@string/baidu_lbsapi_AppKey_release"-->
            <!--tools:replace="android:value"/>-->



        <receiver android:name="com.cncom.app.kit.update.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
